
	<div class="container">
			<div>
				<button class="btn btn-danger" ng-click="close()">X</button>
			</div>
			<div><img src="http://localhost:8085/backend/getPic/{{modalfrnd[0]}}/" class="img-rounded img-responsive" width="200" height="200" style="border:2px groove blue;"></div>
			<div class="panel-group">
				<div class="panel panel-info">
     				 <div class="panel-heading">Name</div>
     				 <div class="panel-body">{{modalfrnd[5]}}&nbsp{{ modalfrnd[4] }}</div>
   				 </div>
   				
   				 <div class="panel panel-info">
     				 <div class="panel-heading">Contact Number</div>
     				 <div class="panel-body">{{modalfrnd[1]}}</div>
   				 </div>
   				 
   				 <div class="panel panel-info">
     				 <div class="panel-heading">Mail-id</div>
     				 <div class="panel-body">{{ modalfrnd[0] }}</div>
   				 </div>
   				 
   				 <div class="panel panel-info">
     				 <div class="panel-heading">State</div>
     				 <div class="panel-body">{{modalfrnd[2]}}</div>
   				 </div>
   				 
   				 
   			</div>
				</div>
			




