 <div class="container-fluid" ng-controller="usercontroller" style="padding:0;overflow-y: hidden;">
        <img alt="background-image" src="./Resource/image/11.jpg" class="design"/>

      <div class="row" id="pic">
         <div class="col-xs-12">
          <a href="#!/login" ><button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-lock"></span>LOGIN</button></a>
           <a href="#!/register"><button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-user"></span> User Register</button></a>
        </div>
    </div>
</div>
  